@import url('https://fonts.googleapis.com/css2?family=Lavishly+Yours&family=Roboto+Slab:wght@400;700&display=swap');

body{
    font-family: 'Roboto Slab', serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
#dream{
    font-family: 'Lavishly Yours', cursive;
}
/* Navbar Styles */
.navbar{
    position: fixed;
    width: 100%;
}
.logo{
   width: 4rem; 
   margin-left: 1rem;
}
/* Hero Styles */
.hero-body{
    padding: 3rem;
    padding-top: 5rem;
    margin: 0rem auto;
}
.hero.has-background {
    position: relative;
    overflow: hidden;
}
.hero-background {
    position: absolute;
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
}
.hero-background.is-transparent {
    opacity: 0.34;
}
.hero-body .title{
    padding-bottom: 1rem;
    text-shadow: .1rem .1rem .3rem #000;
    opacity: 1;
}
/* Beschreibung Styles */
.beschreibung{
    margin: 0rem auto;
    font-size:1.2rem;
}

@media (min-width: 1000px){
    .hero-body{
        width: 60%;
    }
}