@import url('https://fonts.googleapis.com/css2?family=Lavishly+Yours&family=Roboto+Slab:wght@400;700&display=swap');

 /*Navbar Styles */
#dream{
    font-family: 'Lavishly Yours', cursive;
}
.navbar{
    position: fixed;
    width: 100%;
}
.logo{
   width: 4rem; 
}
.hero{
    padding-top: 5rem;
}
