@import url('https://fonts.googleapis.com/css2?family=Lavishly+Yours&family=Roboto+Slab:wght@400;700&display=swap');

/* Navbar Styles */
#dream{
    font-family: 'Lavishly Yours', cursive;
}
.navbar{
    position: fixed;
    width: 100%;
}
.logo{
    width: 4rem;
    margin-left: 1rem;
}
.hero{
    padding-top: 5rem;
}
.image {
    max-height: 90%;
    overflow: hidden;
}

@media (min-width: 1024px) {
    .img1 { order: 1}
    .img2 { order: 3}
    .img3 { order: 2}
    .img4 { order: 5}
    .img5 { order: 4}
    .img6 { order: 6}
}