/* general styles */
@import url('https://fonts.googleapis.com/css2?family=Lavishly+Yours&family=Merriweather:wght@300;400;700;900&display=swap');
/* Navbar Styles */
#dream{
    font-family: 'Lavishly Yours', cursive;
}

body {
    scroll-behavior: smooth;
    font-family: 'Merriweather', serif;
}

p {
    color: #012D28;
}
/* navbar */
.navbar{
    position: fixed;
    width: 100%;
}
.logo{
    width: 4rem;
    margin-left: 1rem;
}
/* Hero */
.hero.has-background {
    position: relative;
    overflow: hidden;
}

.hero-background {
    position: absolute;
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
}

.hero-background.is-transparent {
    opacity: 0.5;
}

.hero-body .container {
    position: absolute;
    top: 15vh;
    width: 90%;
    margin: 0rem auto;
}

.title {
    font-size: 4rem;
    text-shadow: .2rem .2rem .3rem #222;
}
.hero h1{
    color: #f77f00 !important;
}
.subtitle {
    font-size: 1.425rem;
    text-shadow: .1rem .1rem .3rem #222;
    margin: 0rem auto;
}
.svg-rom{
    width: 12rem;
    margin: 0rem auto;
}
/* Beschreibung */
.beschreibung {
    width: 90%;
    margin: 0rem auto;
}

.level .title {
    font-size: 1.625rem;
    text-shadow: none;
}

.level-item {
    padding-bottom: 1rem;
}

.beschreibung-title {
    font-size: 1.625rem;
    font-size: 1.3rem;
    margin-bottom: 2rem;
    font-weight: bold;
    text-decoration: underline;
    text-shadow: .1rem .1rem .3rem #999;
    text-align: center;
}

.beschreibung-title a {
    color: #012D28;
    font-size: 2rem;
}

.beschreibung-text {
    text-align: justify;
    padding-top: 1rem;
}

/* svg */
.svg img {
    width: 20rem;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 3rem;
    margin-bottom: 5rem;
}

/* Highlights */
.highlights {
    padding-top: 0;
}

.highlights-title {
    color: #012D28;
    font-size: 3rem;
    text-shadow: .1rem .1rem .2rem #777;
    margin-bottom: .625rem;
}

.divider {
    background-color: #012D28;
    width: 90%;
    height: 1px;
    margin: 0rem auto;
    margin-bottom: 1.625rem;
}

.highlights h3 {
    font-size: 1.3rem;
    font-weight: bold;
    text-decoration: underline;
    padding-bottom: 1rem;
}

.highlights figure {
    margin-bottom: 1rem;
}

.highlights figure img {
    box-shadow: .1rem .1rem .3rem #222;
    border-radius: 1rem;
}

.highlights .content {
    text-align: justify;
}

.highlights a {
    text-shadow: .1rem .1rem .3rem #999;
    color: #012D28;
}

/* Pricing table */
.price-container {
    padding: 2rem;
}

.price-container>div {
    padding: 3rem;
}

.price-title {
    color: #012D28;
}

.plan_title {
    margin-bottom: 0;
    color: #D5FF3F;
}
.book-now{
    background-color: #027A6C;
    color: #f0f8ff;
}

.price-table {
    background-color: #012D28 !important;
    box-shadow: .2rem .2rem .3rem #222;
    border-radius: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.price {
    margin-top: 40px;
}

.price h2 {
    color: #f0f8ff;
    text-shadow: .1rem .1rem .1rem #222;
}

.price h2 span {
    text-shadow: none;
}

.price span {
    font-size: 20px;
}

.features {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.features p {
    color: azure;
    padding-bottom: 1rem;
}

.best_selling {
    background: #003049;
}

.best_selling h2 {
    color: #f77f00;
}

.best_selling_btn {
    background: #f77f00 !important;
}

/* tablet */
@media (min-width:760px) {

    /* Hero */
    .hero-body .container {
        position: absolute;
        top: 25vh;
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
    }

    /* Beschreibung */
    .beschreibung .beschreibung-text {
        width: 80%;
    }

    .beschreibung-title {
        text-align: center;
    }

    .beschreibung-text {
        width: 70%;
        margin: 0rem auto;
    }
    
}

/* tablet - Änderungen, die nicht im Desktop übernommen werden sollen */
@media (min-width:820px) and (max-width:1000px) {
    .tile {
        width: 95vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

/* desktop */
@media (min-width:1010px) {

    /* Hero */
    .hero-body .container {
        top: 30vh;
    }

    /* Beschreibung */
    .beschreibung-title {
        text-align: center;
        margin-top: 3rem;
    }

    .beschreibung .beschreibung-text {
        width: 50%;
        padding-top: 1rem;
    }

    .beschreibung-text {
        width: 70%;
        margin: 0rem auto;
    }

    .price-table:nth-child(1) {
        margin-bottom: 0rem;
    }
    .price-container{
        width: 80%;
        margin: 0rem auto;
    }
    .price-container .price-table{
        width: 40%;
        margin: 0rem auto;
    }

    .price-table {
        border-radius: 1rem;
        margin-right: 1rem;
    }
}